#logotype
{
text-align: center;
padding: 50px;
font: 3em sans-serif;
}

#sale-i-filtr
{
    position: sticky;
}

#sale
{
text-align: center;
}

#bell
{

    margin-top: auto;
    position: sticky;
    float: left;
}

#settings
{
    margin-top: auto;
    position: sticky;
    float: right;
}

#Sale
{
    position: sticky;
    float: left;
}

#filter
{
    position: sticky;
    float: right;
}